/* Import styles from index.css */
@import url('index.css');

.image {
    max-width: 95vw;
    width: 100%;
    margin: 0 auto; /* Center the box */
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#loadingBarContainer {
    width: 100%;
    background-color: #4caf50;
    margin-top: 20px;
}
#loadingBar {
    width: 0;
    height: 30px;
    background-color: #f3f3f3;
}