body {
    background-image: url('img/background_bright.png');
    background-size:auto; /* This will make the image cover the entire background */
    background-position: center; /* This will center the image */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #333;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff; /* Creates a white outline */
}

h1 {
    margin-top: 50px;
    font-size: 40px;
    color: #333;
    text-shadow: 
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff; /* Creates a white outline */
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus, button:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #099f66;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}

button:hover {
    background-color: #5ce798;
}

.box {
    display: inline-block;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8); /* Milky background */
    border-radius: 10px; /* Rounded edges */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 10px; /* Margin outside the box */
}